<!DOCTYPE html>
{% load postingstuff %}
{% load thumbnail %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>Sidewalk - Quest Search</title>

    {% include 'imports.html' %}
    <link href="{% static 'css/search.css' %}" rel="stylesheet">

    <script src="{% static 'js/search.js' %}"></script>

  </head>

<body>

    {% include "navbar.html" %}

<!-- _____________________________________________________________ -->

<div id= "panel">
    <div id="panel-header">
        <div class="page-header">
            <h3>Explore <small>Find your quests, make your allies</small></h3>
        </div>
    </div>

    <div id="content-panel" class="panel panel-default">
    <div class="panel-body">
        <div id="search-big-table">
            <form class="form-group" enctype="multipart/form-data" id="search-form" method="post"> {% csrf_token %}
            <div class="row" id="search-param-row">
                <div class="col-xs-3 search-param" id="keywords-col">
                    <label for="keywords" style="margin: 0"></label>
                    <input id="keywords" name="keywords" maxlength="60" type="text" class="form-control search-form" placeholder="Search by keyword"></input>
                </div>
                <div class="col-xs-1 search-param" id="button-col" style="margin-top:20px">
                    <button type="submit" class="btn btn-default" id="search-button"><span class="glyphicon glyphicon-search"></span></button>
                </div>
                <div class="col-xs-3 search-param" style="margin-top:20px">
                    <select class="form-control" id="search-filter">
                        <option> All </option>
                        <option> Current </option>
                        <option> Completed </option>
                        <option> Allies' </option>
                    </select>
                </div>
                <div class="col-xs-3 search-param" style="margin-top:20px">
                    <select class="form-control" id="search-order">
                        <option> Relevance </option>
                        <option> Recency </option>
                        <option> Rating </option>
                    </select>
                </div>
                <div class="col-xs-2 search-param" style="margin-top:20px">
                    <select class="form-control" id="search-model">
                        <option> Quest </option>
                        <option> Adventurer </option>
                    </select>
                </div>
            </div>  
            </form>      
            <table class="table table-hover table-striped" id="search-small-table">
                <tr>
                    <th></th>
                    <th>Quest Name</th>
                    <th>Poster</th>
                    <th>Skill Rewards</th>
                    <th>Location</th>
                    <th>Rating</th>
                </tr>
                {% for quest in quests %}
                <tr>
                    <td><a href='#'><div class="quest-icon-wrapper">
                        {% thumbnail quest.icon "200x200" padding=True as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="quest-icon"> 
                        {% endthumbnail %}
                    </div></a></td>
                    <td><a href="../quest/{{ quest.id }}-{{ quest.user_posted_name}}"><span class="quest-name">{{ quest.name }}</span></a></td>
                    <td><a href="../profile/{{ quest.user_posted_name }}">{{ quest.user_posted_name }}</a></td>
                    <td><div id="skill-point-container">
                        {% for row in rows %}
                        <div class="row" id="stat-row-{{ row }}">
                            {% for col in cols %}
                            <div class="col-xs-{{ colwidth }} stat-box">
                                <img class="stat-icon" name="{{ row|multiply:numcols|add:col|getval:stat_list }}" src="
                                {% static 'images'%}/{{row|multiply:numcols|add:col|getval:stat_list|lower}}.png" alt="Sexy">
                                <p class="stat-value"> {{ row|multiply:numcols|add:col|getqueststat:quest }} </p>
                            </div> 
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div></td>
                    <td>
                        <ul> {% for challenge in quest.challenge_set.all %}
                            <li>{{ challenge.location }}</li>
                        {% endfor %}</ul>
                    </td>
                    <td>{{ quest.rating }}</td>
                </tr>
                {% endfor %}
            </table>
            <table class="table table-hover table-striped" style="display: none;" id="user-search-table">
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Skill Points</th>
                    <th>Quest Record</th>
                    <th>City</th>
                </tr>
                {% for quser in qallies %}
                <tr>
                    <td><a href='#'><div class="quest-icon-wrapper">
                        {% thumbnail quser.icon "200x200" padding=True as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="quest-icon"> 
                        {% endthumbnail %}
                    </div></a></td>
                    <td><a href="../profile/{{ quser.user.username }}"><span class="quest-name">{{ quser.user.username }}</span></a></td>
                    <td>{{ quser.user.first_name }} {{ quser.user.last_name }}</td>
                    <td><div id="skill-point-container">
                        {% for row in rows %}
                        <div class="row" id="stat-row-{{ row }}">
                            {% for col in cols %}
                            <div class="col-xs-{{ colwidth }} stat-box">
                                <img class="stat-icon" name="{{ row|multiply:numcols|add:col|getval:stat_list }}" src="
                                {% static 'images'%}/{{row|multiply:numcols|add:col|getval:stat_list|lower}}.png" alt="Sexy">
                                <p class="stat-value"> {{ row|multiply:numcols|add:col|getstatval:quser }} </p>
                            </div> 
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div></td>
                    <td>
                        <ul> 
                            <li>Completed Quests: {{ quser.completed_quests.count }}</li>
                            <li>Current Quests: {{ quser.current_quests.count }}</li>
                            <li>Posted Quests: {{ quser.posted_quests.count }} </li>
                        </ul>
                    </td>
                    <td>{{ quser.location }}</td>
                </tr>
                {% endfor %}
            </table>
            <!-- <div class="see-more"><a href='#' id="next-results-page">See More</a></div> -->
        </div>
    </div>
    </div>


</div>

    {% include 'comments_panel.html' %}

    
  </body>
</html>


<!--<!DOCTYPE html>
<html>
<body>
    <h1> Quest Search </h1>
    <h1> Username: {{ user.username }} </h1>
    {% if message %}
        <h2> {{ message }} </h2>
    {% else %}
        <ul>
            {% for quest in quests %}
                <li> {{ quest.name }} posted by {{ quest.user_posted_name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>-->
