body
{
    background-color: #78aeac;
    z-index: 1;
    /*background-image: 'background.png'*/
}

#page-panel
{
    background-color: #edefee;
    z-index: 2;
    position: fixed;
    left: 10em;
    width: 75em;
    height: 300em;
}

#info-panel
{
    position: fixed;
    top: 7em;
}

.section-panel
{
    position: relative;
    width: 75em;
    height: 13em;
}

#quest-info-panel
{
    background-color: #bbd6ee;
    color: #626262;
}

.section-header-box
{
    background-color: #626262;
    z-index: 3;
    height: 2.5em;
    width: 75em;
}

.section-header-text
{
    color: white;
    font-size: 1.1em;
    position: relative;
    left: 2em;
    top: .5em;
}

#quest-icon
{
    position: absolute;
    left: 7.5em;
    top: 4.2em;
    height: 6em;
    width: 6em;
}

#quest-name
{
    position: absolute;
    left: 13em;
    top: 3.5em;
    font-size: 1.2em;
}

#quest-rating
{
    position: absolute;
    left: 15.5em;
    top: 6em;
    height: 3em;
    width: 13.5em;
}

#quest-poster
{
    position: absolute;
    left: 75em;
    top: 6em;
    font-size: .8em;
}

#quest-desc
{
    position: absolute;
    left: 19.5em;
    top: 11.5em;
    font-size: .8em;

}

#complete-button
{
    position: absolute;
    left: 70em;
    top: 8em;
}

#forfeit-button
{
    position: absolute;
    left: 70em;
    top: 10.5em;
}

#skill-point-container
{
    position: relative;
    left: 5em;
    top: .9em;
    width: 50em;
    height: 8.7em;
}

.stat-box
{
    height: 2.9em;
}

.stat-icon
{
    position: absolute;
    left: 2em;
    top: .5em;
    height: 2em;
    width: 2em;
}

.stat-value
{
    position: absolute;
    left: 5.5em;
    top: .4em;
    font-size: .9em;
}

.stat-flavor
{
    position: absolute;
    left: 6.85em;
    top: 2.3em;
    font-size: .72em;
}

#challenges-panel
{

}

.challenge-text
{

}

.location-text
{

}


.footer-panel
{
    background-color: #c6c6c6;
    height: 50em;
    width: 100em;
}
