<div class="alert alert-danger register-email-alert" id="verify-email-alert">
    <strong> Uh-oh! </strong> The two emails you provided don't match up! Please enter them again.
</div>

<div class="alert alert-danger register-email-alert" id="email-exists-alert">
    <strong> Yikes! </strong> That email seems to be already taken by a user!
</div>

<div class="alert alert-danger register-terms-alert" id="notagree-alert">
    <strong> Oh no! </strong> You didn't agree to our terms and conditions!
</div>
