<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- This draws the logo-->
        <div class="navbar-header">
          <a class="navbar-brand" href="/dash/">
            <div class="logo"><span style="color: #eb2229">Side</span><span style="color: #a7a7a7">Walk</span></div></a>
        </div>

        <!-- These are the links-->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/dash/">Dash</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quest<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/view/">Manage</a></li>
                    <li><a href="/post/">Post</a></li>
                    <li><a href="/search/">Search</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{% static 'images/gear.png' %}"><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/profile-{{ user.username }}">Profile</a></li>
                    <li><a href="/settings/">Settings</a></li>
                    <li><a href="/help/">Help</a></li>
                </ul>
            </li>
        </ul>  
      </div>
    </nav>